body {
	margin:0px;
	padding:0px;
}

/* 菜单 */
.menubar_box {
	margin:10px; border:1px solid #000099; border-bottom:0px;
	font-size:10pt; width:calc(100% - 20px); background:#F7F7F7;
}

.menubar_box div {
	display: inline-block;
	padding: 3px 4px;
}
.menubar_box .menubar_item {
	position: relative;
	cursor: pointer;
}
.menubar_box .menu_list {
	position: absolute;
	margin: 0px;
	padding:0px;
}

.menubar_box .list_menu {
	list-style: none;
}

.menubar_box .list_menu div {
	background:#F7F7F7;
	margin: 0px;
	width: 100px;
	height:1.5rem;
	padding:0.25rem;
	cursor: pointer;
}

.menubar_box .list_menu div:hover {
	background: #F0F0F0;
}

/* 分页 */
.paging .loading{
	text-align:left;
}
.paging span, .paging a{
	margin:0px 7px; 
	display:inline-table; 
	padding:4px 10px; 
	cursor:pointer; 
	text-align:center;
}
.paging span:hover, .paging a{
	background:#edffc9;
}
.paging span, .paging a:hover{
	background:#e9f5dc;
}
.paging a:hover{
	color:#FF0000;
}
.paging span{
	font-weight: bold;
}